body {
  background-color: rgb(16, 17, 16);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

header {
  width: 100%;
  border-bottom: 2px solid #444;
  padding: 20px 0;
}

.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s, text-shadow 0.3s;
}

.links a i {
  margin-right: 8px;
}

.link-youtube:hover {
  color: #FF7F7F; /* pastel red */
  text-shadow: 0 0 5px #FF7F7F;
}


.link-github:hover {
  color: #d1cece;
  text-shadow: 0 0 5px #808080;
}

.link-discord:hover {
  color: #7289DA;
  text-shadow: 0 0 5px #7289DA;
}

/* Profile section */
.profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.header-text {
  font-size: 3rem;
  margin: 0;
}

.description {
  max-width: 600px;
  font-size: 1.2rem;
  color: #ccc;
}
