body {
  background-color: rgb(17, 17, 17);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.header-text {
  font-size: 3.5rem;
  margin: 0;
}

.description {
  font-size: 1.5rem;
  color: #ccc;
  max-width: 600px;
}

/* Buttons Section */
.link-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.link-btn {
  background-color: rgb(235, 231, 231);
  color: black;
  padding: 12px 25px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.link-btn:hover {
  transform: scale(1.05);
}

.link-btn:nth-child(1):hover { background-color: #f35959; color: white; } /* Youtube */
.link-btn:nth-child(2):hover { background-color: #6082ff; color: white; } /* Discord */
.link-btn:nth-child(3):hover { background-color: #a1a5a3; color: black; } /* Github */
