body {
  background-color: rgb(16, 17, 16);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

/* Header Buttons */
.header-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-youtube:hover {
  background-color: #FF7F7F;
}

.btn-discord:hover {
  background-color: #7289DA;
}

.btn-github:hover {
  background-color: #d3cfcf;
}

/* Lines */
.line {
  border: 0;
  height: 2px;
  background-color: #444;
  margin: 50px 50px;
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 50px auto 0 auto;
  text-align: left;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-text {
  font-size: 3.5rem;
  margin: 0;
}

.description {
  font-size: 1.5rem;
  color: #ccc;
  max-width: 600px;
}

/* Skills Section */
.skills {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0 50px 0;
}

.skill-icon {
  font-size: 3rem;
  color: white;
  transition: color 0.3s, transform 0.3s;
}

.skill-icon:hover {
  color: #FF7F7F;
  transform: scale(1.3);
}
