body {
  background-color: rgb(16, 17, 16);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

header {
  width: 100%;
  border-bottom: 2px solid #444;
  padding: 20px 0;
}

.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s, text-shadow 0.3s;
}

.links a i {
  margin-right: 8px; /* space between icon and text */
}

.link-youtube:hover {
  color: #ff5f5f; /* YouTube red */
  text-shadow: 0 0 5px #FF0000;
}

.link-github:hover {
  color: #c5c5c5; /* GitHub grey */
  text-shadow: 0 0 5px #808080;
}

.link-discord:hover {
  color: #859df1; /* Discord blue */
  text-shadow: 0 0 5px #7289DA;
}

.header-text {
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
}
